body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.users,
.user {
  width: 60vw;
  margin: auto;
}

.users > table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}

.users td,
.users th {
  border: 1px solid black;
  padding: 10px;
}

.pagination {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.pagination button {
  cursor: pointer;
}

.pagination button:disabled {
  opacity: .5;
  cursor: default;
}

.user-row:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.user {
  display: grid;
  grid-template:
    "back back" 50px
    "photo credentials" 250px
    "photo description" 300px
    "map map" 20vh / 300px 1fr;
}

.user-table {
  grid-area: credentials;
}

.user-description {
  padding: 15px;
  grid-area: description;
}

.user-description > textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  resize: none;
}

.user-map {
  grid-area: map;
}

.user td {
  padding: 15px;
}

@media screen and (max-width: 1366px) {
  .users > table {
    width: 100%;
  }
}